# Misc
*compose.yml
*.db
src/db/db_manager.sqbpro

src/json/*.json
src/avatars/*.png
TestMain.js

# Dependency directories
*node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# package-lock
*package-lock.json


# Create .woodpecker.yml in your repository root with one of the configs above
# Add repository secrets (Settings → Secrets)
# 
#     DOCKER_USERNAME — Your Docker registry username
#     DOCKER_PWD — Your Docker registry password/token
# 
# Enable CI in repository Settings → Units
# Request access to ci.codeberg.org if not using self-hosted runners
